#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "zhangjh\0"
            VALUE "FileDescription",  "SuYan Input Method (32-bit)\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "SuYan32\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026\0"
            VALUE "OriginalFilename", "SuYan32.dll\0"
            VALUE "ProductName",      "SuYan Input Method\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
